.big-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4A55A2;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .big-button:hover {
    background-color: #3367d6;
  }
  